@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ABeeZee";
    src: url(/fonts/ABeeZee.ttf) format("truetype");
  }

  @font-face {
    font-family: "Bayon";
    src: url(/fonts/Bayon.ttf) format("truetype");
  }

  @font-face {
    font-family: "SFB";
    src: url(/fonts/SFPRODISPLAYBOLD.OTF) format("opentype");
  }

  @font-face {
    font-family: "SFR";
    src: url(/fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
  }
}
.Title {
  font-family: "Bayon";
}
.SFB {
  font-family: "SFB";
}
.SFR {
  font-family: "SFR";
}
.Section {
  font-family: "ABeeZee";
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  border-left: 2px solid black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track {
  background: transparent;
}
.button .box .before-content {
  transition: transform 0.4s;
}

.button:hover .box .before-content {
  transform: translateY(0);
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: white;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #eab308;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}
