@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
@font-face {
  font-family: "Bayon";
  src: url("/src/assets/fonts/Bayon.ttf") format("truetype");
}
@font-face {
  font-family: "Section";
  src: url("/src/assets/fonts/AbeeZee.ttf") format("truetype");
}
@font-face {
  font-family: "SFBOLD";
  src: url("/src/assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}
@font-face {
  font-family: "SFREG";
  src: url("/src/assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}
.Title {
  font-family: "Bayon";
}
.Section {
  font-family: "Section";
}
.SFR {
  font-family: "SFREG";
}
.SFB {
  font-family: "SFBOLD";
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: black;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
#Scroll {
  background: #000;
}
.button .box .before-content {
  transition: transform 0.4s;
}

.button:hover .box .before-content {
  transform: translateY(0);
}
@keyframes glow {
  0% {
    box-shadow: 0 0 4px yellow;
  }
  33% {
    box-shadow: 0 0 9px yellow;
  }
  66% {
    box-shadow: 0 0 7px yellow;
  }
  100% {
    box-shadow: 0 0 4px yellow;
  }
}

@layer utilities {
  .animate-glow {
    animation: glow 2s infinite;
  }
}